<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (teamid >= 0) {%>
      <h1>Team created correctly</h1>
    <% } else {%>
      <h1>Error creating team: select at least 1 pokemon please.</h1>
      <% } %>
    <hr>
    <p>Name: <%= name%></p>
    <p> <a href="/team/create">Create another team</a></p>
    <p> <a href="/team">Team</a></p>
    <p> <a href="/team/list">Team list</a></p>
    <p> <a href="/">Home</a></p>
  </body>
</html>