<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1> Create team</h1>
    <hr>
    <button onclick=findPokemon()>Gotta catch'em all!</button>

    <p><span id="poke-head"></span></p>
    <h2><span id="poke-name"></span></h2>
    <p><span id="poke-exp"></span></p>
    <p><span id="poke-img"></img></span></p>
    <p><span id="poke-abt"></span></p>
    <p><span id="poke-types"></span></p>

    <form action="/team/create/createteam" method="GET">
      <div id="poke-list">
        <label>Pokemon list:</label>

      </div>
      <input type="text" name="name" required="required" placeholder="Insert team name">
      <button type="submit">Create</button>
    </form>
    <p> <a href="/">Home</a></p>


    <script>
      
      function findPokemon(){
        var id = Math.floor(Math.random() * 897 +1)
        if (sessionStorage.getItem(id)){
          printPokemon(JSON.parse(sessionStorage.getItem(id)))
        }
        else{
          fetch('https://pokeapi.co/api/v2/pokemon/'+id)
          .then(function(response){
            response.json()
            .then(function(pokemon){
              console.log(pokemon)
              printPokemon(pokemon)
            })
          })
        }
      }

      function printPokemon(pokemon){

        // print pokemon in page
        document.getElementById("poke-name").innerHTML = "<b>Name:</b> "+pokemon.name;
        document.getElementById("poke-exp").innerHTML = "<b>Base exp: </b>"+pokemon.base_experience;
        document.getElementById("poke-img").innerHTML = "<img src= "+pokemon.sprites.front_default+"></img>";

        var abs = "<b>Abilities: </b> "+pokemon.abilities[0].ability.name
        for(var i=1; i<pokemon.abilities.length; i++){
          abs=abs+", "+pokemon.abilities[i].ability.name
        }
        document.getElementById("poke-abt").innerHTML = abs+".";

        var t = "<b>Types: </b>"+pokemon.types[0].type.name
        for(var i=1; i<pokemon.types.length; i++){
          t=t+", "+pokemon.types[i].type.name
        }
        document.getElementById("poke-types").innerHTML = t+".";
        sessionStorage.setItem(pokemon.id, JSON.stringify(pokemon));

        // add pokemon to the list
        var input = document.createElement("input");
        input.setAttribute('type','checkbox')
        input.setAttribute('id',pokemon.id)
        input.setAttribute('value',pokemon.id)
        input.setAttribute('name',pokemon.name)
        input.setAttribute('checked',true)

        var lbl = document.createElement('label');
        lbl.setAttribute('for', pokemon.id);
        lbl.appendChild(document.createTextNode(pokemon.name));

        document.getElementById("poke-list").append(input);
        document.getElementById("poke-list").append(lbl);
      }

    </script>
  </body>
</html>
