<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit team <%= name %></h1>
    <p> Name:  </p>
    <p> ID: <%= id %> </p>

    <form action="/team/create" method="GET">
      <input type="text" name="name" placeholder=<%= name %>>
      
      <button type="submit">Create</button>
    </form>
    
    <p> <a href="/">Home</a></p>
  </body>
</html>
