<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit team <%= name %></h1>
    <p> Name: <%= name %> </p>
    <p> ID: <%= id %> </p>
    <p> <a href="/">Home</a></p>
  </body>
</html>
