<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Poket-monsters app</h1>
    <p>Welcome to the challenge</p>
    <p> <a href="/team">Team</a></p>
  </body>
</html>
