<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The Pokèmon App</h1>
    <hr>
    <h2>Welcome to the ultimate Pokèmon Team Management WebApp!</h2>
    <p>As a Pokèmon Trainer you can enter in the Team Management area to create new teams
      and view the active ones. Also, after creating a team, you can manage and edit the
      them in the specific page. Finally, you can also filter them by type.</p>
    <br>
    <p>Are you ready to <b>catch'em all?</b></p>
    <p> <a href="/team">Manage teams</a></p>
  </body>
</html>
