<!DOCTYPE html>
<html>
  <head>
    <title>Pkmn_app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Team updated correctly</h1>
    <hr>
    <p>Name: <%= name%></p>
    <p> <a href="/">Home</a></p>
  </body>
</html>
